body {
    background-color: #f7f7f7;
    margin: 0;
}
form {
    width: 27vw;
    overflow: hidden;
    background-color: bisque;
    padding: 15px 25px;
    margin-top: 20px;
    margin-left: 30px;
    border: 2px dotted olivedrab;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
#fname:focus, #lname:focus, #brands:focus {
    background-color: aquamarine;
}
.btn {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: aqua;
    float: right;
}
.btn:hover {
    background-color: rgb(0, 204, 204);
}
#test {
    background-color: bisque;
    color: #382828;
    padding: 10px;
    text-align: center;
    font-size: 2.8vw;
    border: 1px solid blue;
    border-radius: 15px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #ababab;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    width: 28vw;
    margin: auto;
    margin-top: 10px;
    height: 6vw;
    overflow: hidden;
}
.fa-download {
    font-size: 2.3vw;
    color: #131313;
}
.fa-download:hover {
    color: #000000;
}
#nav {
    background-color: #252525;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}
.navli {
    list-style-type: none;
    float: left;
}
.navli:hover {
    background-color: #000000;
}
.navli:active {
    background-color: #e49400;
}
.navbtn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 15px 20px;
}
.first, .first:hover {
    background-color: #0004d3;
}