:root {
    --green: #557c3e;
    --yellow: #f6b319;
    --red: #61122f;
    --gray: #363636;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: var(--red);
    font-family: 'Oxygen', sans-serif;
}

/* Navigation Bar */
#navbar {
    background-color: var(--yellow);
}
#navbar img {
    margin-left: 15px;
}
#navbar h1 {
    display: inline-block;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: var(--green);
    text-shadow: 1px 1px 1px #222;
    font-size: 28px;
    margin-left: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
}
#navbar p {
    color: #000;
    display: inline-block;
    margin-left: 15px;
}
#navbar p > i {
    font-size: 24px;
}
#navbar p > span {
    font-size: small;
    vertical-align: middle;
}
#menu-content i {
    font-size: 32px;
}
#menu-content a {
    text-align: center;
}
#menu-content li {
    margin-right: 10px;
}
#menu-content a, .tel a {
    color: #951C49;
}
.tel {
    margin-right: 15px;
}
.tel > a {
    padding: 0 !important;
    font-size: 28px;
}
.tel > div {
    margin-top: -5px;
    color: var(--green);
    text-align: end;
}
#menu-content li:hover {
    background-color: #f6e019;
    border-radius: 5px;
}
.tel > a:hover {
    color: #951C49;
    text-shadow: 1px 1px 1px #ce1458;
}



@media screen and (max-width: 991px) {
    #navbar p {
        margin-top: 50px;
    }
    .tel {
        position: absolute;
        left: 220px;
        top: 57px;
    }
}

@media screen and (max-width: 550px) {
    #navbar img {
        display: block !important;
        width: 100px;
        height: 100px;
    }
    #navbar h1, #navbar p {
        display: none;
    }
    .tel {
        position: absolute;
        left: 135px;
        top: 35px;
    }
    .tel a {
        font-size: 24px;
    }
    .tel div {
        text-align: start;
    }
}

@media screen and (max-width: 767px) {
    #menu-content li {
        margin-right: 0;
        margin-left: 0;
    }
}